/* Write CSS here */
.app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-sm-bg.png');
  height: 100vh;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .app-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-lg-bg.png');
    height: 100vh;
    background-size: cover;
  }
}
.stop-watch-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}
@media screen and (min-width: 768px) {
  .stop-watch-container {
    align-items: center;
    margin-left: 165px;
    text-align: center;
  }
}
.heading {
  font-size: 25px;
  font-weight: 700;
  font-family: 'Roboto';
  color: #333333;
  margin-bottom: 28px;
}
@media screen and (min-width: 768px) {
  .heading {
    font-size: 32px;
    text-align: center;
  }
}
.stopwatch-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 10px 10px 8px 10px #ffffff;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
}
.stop-watch-card-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  padding-bottom: opx;
}
.clock-img {
  width: 25px;
  height: 25px;
  margin-right: 20px;
}
@media screen and (min-width: 768px) {
  .clock-img {
    width: 35px;
    height: 35px;
  }
}
.timer-heading {
  font-size: 21;
  font-family: 'Roboto';
  font-weight: 600;
  color: #333333;

  padding-bottom: 0px;
}
.timer-display {
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 600;
  color: #333333;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 20px;
}
.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.button {
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 600;
  color: #ffffff;
  width: 80px;
  border-radius: 8px;
  border-width: 0px;
  padding: 5px 15px;
  cursor: pointer;
}
.start-button {
  background-color: #1db05f;
}
.stop-button {
  background-color: #ef0d36;
}
.reset-button {
  background-color: #eaa800;
}
